<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h3>Post new Picture</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post">
    </form>
    {% for post in page_obj %}
        <p>{{ post.author }}</p>
        <img src="{{ post.image.url}}" alt="">
        <p>{{ post.created }}</p>
        <p>{{ post.comment }}</p>
    {% endfor %}
    {% include 'dashboard/pagination.html' %}
</body>
</html>